#root {
    position: relative;
    width: 70%;
    left: 15%;
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: repeat(5, auto);
}

.box {
    width: 6em;
    height: 6em;
    border: .25em solid black;
    margin: 2em;
    float: left;
}

.number {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}  

.green {
    position: relative;
    bottom: 21%;
    width: 100%;
    height: 17%;
    background-color: green;
    border-top: .25em solid black;
}

.red {
    position: relative;
    right: 29%;
    width: 17%;
    height: 100%;
    background-color: red;
    border-right: .15em solid black;
}

.yellow {
    position: relative;
    width: 100%;
    height: 17%;
    background-color: yellow;
    border-bottom: .25em solid black;
}

.blue {
    position: relative;
    left: 60%;
    width: 17%;
    height: 100%;
    background-color: blue;
    border-left: .15em solid black;
}